[DEFAULT]
# https://github.com/reddit/reddit/wiki/API#rules
user_agent: python:com.scymrian-meritocracy.weekly-css:v0.2.0 (by /u/YOURUSERNAME)
client_id: ALONGCODE
client_secret: ANEVENLONGERCODE
username: YOURMODACCT
password: TOPSECRET
