%YAML 1.1
---
username: "YOURMODACCT"
password: "TOPSECRET"
# https://github.com/reddit/reddit/wiki/API#rules
useragent: "Tacobot_v0.1 by (/u/YOURUSERNAME)"
tz: "America/Los_Angeles"
subs:
  - "YOURSUBREDDIT"
days:
  - "Tuesday" # start day
  - "Wednesday" # end day
